<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/user/buyList.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/js/buyList.js" type="text/javascript"></script>
    <title>결제내역 조회</title>
</head>
<body>
    <div class="content">
        <div class="subscribeList">
            <h3 class="title">결제 내역</h3>
            <div class="paddingClass" th:each="payment: ${paymentList}">
                <div class="parent">
                    <img class="appimg" th:src="${payment.imgSrc}">
                    <div>
                        <h4 th:text="${payment.name}" id="paymentName" class="paymentText"></h4>
                        <h4 th:text="${payment.year + '년 ' + payment.month + '월 ' + payment.date + '일'}" class="paymentText"></h4>
                    </div>
                    <div class="displayRight">
                        <h4 th:text="${'₩' + payment.price}" class="paymentTextBig"></h4>
                    </div>
                </div>
            </div>

            <div class="pagination">
                <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <a class="pageText" th:if="${page != nowPage}" th:href="@{/calendar(page = ${page -1})}" th:text="${page}"></a>
                    <strong class="selectPage" th:if="${page == nowPage}" th:text="${page}"></strong>
                </th:block>
            </div>
        </div>
    </div>


    <div class="navigation">
        <ul>
            <li class="list">
                <a href="/home">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="text">홈</span>
                </a>
            </li>
            <li class="list">
                <a href="/buyList">
                    <span class="icon">
                        <ion-icon name="calendar-outline"></ion-icon>
                    </span>
                    <span class="text">조회</span>
                </a>
            </li>
            <li class="list">
                <a href="/recommend">
                    <span class="icon">
                        <ion-icon name="thumbs-up-outline"></ion-icon>
                    </span>
                    <span class="text">추천</span>
                </a>
            </li>
            <li class="list">
                <a href="/board">
                    <span class="icon">
                        <ion-icon name="help-outline"></ion-icon>
                    </span>
                    <span class="text">Q&A</span>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>