<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/user/payment/googlePassword.css">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h3>고객님의 정보는 소중하니까..😊</h3>
        <form action="/googlePassword" method="post">
            <div class="input-box underline">
                <input type="password" id="googlePassword" name="googlePassword" placeholder="구글 비밀번호를 입력해주세요">
                <div class="underline"></div>
            </div>
            <button type="button" id="googlePasswordBtn" name="googlePasswordBtn" onclick="saveGooglePassword()">Enter</button>
        </form>
    </div>
</body>
</html>