<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q&A</title>
    <link rel="stylesheet" type="text/css" href="/css/board/board.css">
</head>
<body>

    <section class="notice">
        <div class="page-title">
            <div class="container">
                <h3>Q&A</h3>
            </div>
        </div>

        <!-- board seach area -->
        <div id="board-search">
            <div class="container">
                <div class="search-window">
                    <form action="">
                        <div class="search-wrap">
                            <label for="search" class="blind">공지사항 내용 검색</label>
                            <input id="search" type="search" name="" placeholder="검색어를 입력해주세요." value="">
                            <button type="submit" class="btn btn-dark">검색</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- board list area -->
        <div id="board-list">
            <div class="container">
                <table class="board-table">
                    <thead>
                    <tr>
                        <th scope="col" class="th-num">번호</th>
                        <th scope="col" class="th-title">제목</th>
                        <th scope="col" class="th-writer">작성자</th>
                        <th scope="col" class="th-date">등록일</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="board: ${boardList}">
                        <td th:text="${board.id}"></td>
                        <td><a th:href="@{|/user/mypage/board/${board.id}|}" th:text="${board.boardTitle}"></a></td>
                        <td th:text="${board.boardWriter}"></td>
                        <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button class="btn btn-dark" id="plus"><a href="/user/mypage/board/save">글 작성</a></button>
    </section>

    <div class="navigation">
        <ul>
            <li class="list">
                <a href="#">
                            <span class="icon">
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                    <span class="text">홈</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                            <span class="icon">
                                <ion-icon name="calendar-outline"></ion-icon>
                            </span>
                    <span class="text">구독 일정</span>
                </a>
            </li>
            <li class="mainlist">
                <a href="#">
                            <span class="icon">
                                <ion-icon name="logo-google-playstore"></ion-icon>
                            </span>
                    <span class="maintext">조회</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                            <span class="icon">
                                <ion-icon name="thumbs-up-outline"></ion-icon>
                            </span>
                    <span class="text">추천</span>
                </a>
            </li>
            <li class="list">
                <a href="/user/mypage">
                            <span class="icon">
                                <ion-icon name="person-outline"></ion-icon>
                            </span>
                    <span class="text">내정보</span>
                </a>
            </li>
        </ul>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>