<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/user/info/findUserPassword.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script rel="script" type="text/javascript" src="/js/user/findUserPassword.js"></script>
  <title>Login</title>
</head>

<body>
  <div class="container">
    <div class="title">비밀번호 재설정</div>
    <div class="input-box underline">
      <input type="email" id="userEmail" name="userEmail" placeholder="이메일" required>
      <div class="underline"></div>
    </div>
    <button type="button" id="findPassword" name="findPassword" onclick="findPassword()">재설정</button>
  </div>
</body>
</html>