<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/user/info/findUserEmail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="container">
    <form action="/findUserEmail" method="post">
        <div class="title">이메일 찾기</div>
        <div class="input-box underline">
            <input type="test" id="userNickname" name="userNickname" placeholder="닉네임" required>
            <div class="underline"></div>
        </div>
        <button type="submit" id="findEmail"> 이메일 찾기 </button>
        <p th:text="${message}" class="findedEmail"></p>
    </form>
</div>
</body>
</html>