<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/user/info/join.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script rel="script" type="text/javascript" src="/js/user/join.js"></script>
</head>

<body>
    <div class="container">
        <form action="/join" method="post">
            <div class="title">회원가입</div>

            <div class="input-box underline bottom1">
                <input type="text" id="userNickname" name="userNickname" placeholder="닉네임" onchange="checkNickname()" required>
                <span class="nicknameOk">사용 가능한 닉네임입니다.</span>
                <span class="nicknackNo">중복되는 닉네임입니다.</span>
                <div class="underline"></div>
            </div>

            <div class="input-box underline bottom2">
                <input type="email" id="userEmail" name="userEmail" placeholder="이메일" onchange="checkEmail()" required>
                <span class="emailOk">사용 가능한 이메일입니다.</span>
                <span class="emailNo">중복되는 이메일입니다.</span>
                <div class="underline"></div>
                <button id="sendBtn" name="sendBtn" class="btn" onclick="sendNumber()">인증번호</button>
            </div>

            <div class="input-box underline bottom3">
                <input type="text" name="number" id="number" placeholder="인증번호 입력" required>
               <div class="underline"></div>
                <button name="confirmBtn" id="confirmBtn" class="btn" onclick="confirmNumber()">이메일 인증</button>
            </div>

            <br>
            <input type="text" id="Confirm" name="Confirm" style="display: none" value="">

            <div class="input-box bottom4">
                <input type="password" id="userPassword" name="userPassword" placeholder="비밀번호" required>
                <div class="underline"></div>
            </div>

            <button type="submit" class="btn"> 회원가입</button>
        </form>
    </div>
</body>
</html>