<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/user/info/mypage.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>mypage</title>
</head>
<body>
    <nav role="navigation" class="webNav">
        <div id="menuToggle">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <a href="/home"><li>홈</li></a>
                <a href="/buyList"><li>조회</li></a>
                <a href="/recommend"><li>추천</li></a>
                <a href="/board"><li>문의</li></a>
            </ul>
        </div>
    </nav>

    <div class="wrapper">
        <div class="innerwapper">
            <h3 class="title">My Page</h3>
            <button class="btn"><a href="/user/mypage/editUser">회원 정보 수정</a></button>
            <button class="btn"><a href="/logout">로그아웃</a></button>
            <button class="redBtn"><a href="/user/mypage/delete">회원 탈퇴</a></button>
        </div>


        <div class="navigation">
            <ul>
                <li class="list">
                    <a href="/home">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="text">홈</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/buyList">
                        <span class="icon">
                            <ion-icon name="calendar-outline"></ion-icon>
                        </span>
                        <span class="text">조회</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/recommend">
                        <span class="icon">
                            <ion-icon name="thumbs-up-outline"></ion-icon>
                        </span>
                        <span class="text">추천</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/board">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                        <span class="text">Q&A</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>