<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/user/findUserEmail.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="container">
  <form action="/findUserPassword" method="post">
    <div class="title">비밀번호 재설정</div>
    <div class="input-box underline">
      <input type="email" id="userEmail" name="userEmail" placeholder="이메일" required>
      <div class="underline"></div>
    </div>
    <button type="button" id="find" onclick="find()"> 재설정 </button>
  </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script rel="script" type="text/javascript" src="/js/findUserPassword.js"></script>
</body>
</html>