<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/user/join.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <form action="/user/join" method="post">
            <div class="title">회원가입</div>
            <div class="input-box underline">
                <input type="email" id="userEmail" name="userEmail" placeholder="이메일" required>
                <div class="underline"></div>
            </div>
            <div class="input-box">
                <input type="password" id="userPassword" name="userPassword" placeholder="비밀번호" required>
                <div class="underline"></div>
            </div>
            <button type="submit" id="signUp"> 회원가입</button>
        </form>
    </div>
</body>
</html>