*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

:root{
    --clr : #e8e8e8;
}

body{
    display : flex;
    align_items : center;
    min-height : 100vh;
    background : var(--clr);
}

.container{
    max-width: 350px;
    width: 100%;
    padding: 25px 30px;
}

.container .title{
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
}

.container .subtitle{
    font-size: 20px;
    font-weight: 600;
    position: relative;
}

.container form .input-box{
    width: 100%;
    height: 45px;
    margin-top: 50px;
    position: relative;
}

.container form .input-box p{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    border: none;
}

.container form .button{
    margin: 40px 0 20px 0;
}

#boardContent{
    height: 150px;
}

#btn{
    text-align: center;
}

.write{
    width: 30%;
    height: 45px;
    margin-top: 30px;
    background: #2d2d2d;
    font-size: 17px;
    color: #fff;
    border-radius: 5px;
}
