*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

:root{
    --clr : #e8e8e8;
}

body{
    display : flex;
    justify-content : center;
    align_items : center;
    min-height : 100vh;
    background : var(--clr);
}

.wrapper{

}

.innerwapper{
    margin-top : 100px;
    margin-left : 100px;
    margin-right : 100px;
}

button{
    border : none;
    background-color : #2b2b2b;
    float : right;
}

.person{
    font-size : 150px;
    background : transparent;
    color : #2b2b2b;
}

.content{
    padding-top : 30px;
}

.testDiv{
    margin-top : 100px;
}

.text{
    font-size : 100px;
    color : #2b2b2b;
}

.money{
    margin-top : 20px;
    font-size : 100px;
    color : #2b2b2b;
}

.subscribeList{
    margin-top : 150px;
}

.top3{
    margin : 5px;
    font-size : 100px;
    color : #2b2b2b;
    list-style : none;
    margin-bottom : 100px;
}

.appimg{
    width : 100px;
    border-radius : 20%;
    margin-right : 15px;
}

.danger{
    border : 3px #2b2b2b solid;
    border-radius : 50%;
    font-size : 40px;
    margin-left : 20px;
}

.progress {
    width : 100%;
    appearance: none;
}

.progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:10px;
    box-shadow: inset 3px 3px 10px #ccc;
}

.progress::-webkit-progress-value {
    border-radius:10px;
    background: #2b2b2b;
    background: -webkit-linear-gradient(to right, #828282, #404040);
    background: linear-gradient(to right, #828282, #404040);
}

.navigation{
    position : relative;
    width : 100%;
    height : 100px;
    background : #2b2b2b;
    display : flex;
    justify-content : center;
    align-align_items : center;
    border-radius : 10px;

}

.navigation ul{
    display : flex;
    width : 100%;
}

.navigation ul li{
    position : relative;
    list-style : none;
    width : 20%;
    height : 100px;
    z-index : 1;
}

.navigation ul li a{
    position : relative;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
    width : 100%;
    text-align : center;
    font-weight : 500;
}

.navigation ul li a .icon{
    position : relative;
    display : block;
    line-height : 75px;
    font-size : 60px;;
    text-align : center;
    color : var(--clr);
}

.navigation ul li a .text{
    position : absolute;
    color : var(--clr);
    font-weight : 400;
    font-size : 25px;
    bottom : -20px;
}

.mainlist{
    position : absolute;
    top : -50%;
    background : #2b2b2b;
    border-radius : 50%;
    border : 15px solid var(--clr);
}

.navigation ul li a .maintext{
    position : absolute;
    color : var(--clr);
    font-weight : 400;
    font-size : 25px;
    bottom : -60px;
}