body{
    margin-top : 100px;
    margin-left : 100px;
    margin-right : 100px;
}

#wrapper{
    text-align : center;
}

.profile{
    font-size : 50px;
}

.person{
    width : 150px;
}

button{
    border : none;
    background-color : transparent;
}