*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

:root{
    --clr : #e8e8e8;
}

body{
    display : flex;
    justify-content : center;
    align_items : center;
    min-height : 100vh;
    background : var(--clr);
}

.innerwapper{
    margin-top : 180px;
    margin-left : 120px;
    margin-right : 120px;
}

.title{
    font-size : 100px;
    color : #2b2b2b;
}

.subtitle{
    margin-top: 20px;
    font-size: 50px;
    color: #2b2b2b;
}

.subscribeList{
    margin-top : 150px;
}

.paddingClass{
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}

.appimg{
    width : 250px;
    border-radius : 20%;
    margin-right : 30px;
}

.appText{
    font-size: 50px;
}

.navigation{
    position : fixed;
    bottom : 0;
    left : 0;
    right : 0;
    background : #2b2b2b;
    display : flex;
    justify-content : center;
    align-align_items : center;
    border-radius : 30px;
}

.navigation ul{
    display : flex;
    width : 100%;
}

.navigation ul li{
    position : relative;
    list-style : none;
    width : 30%;
    height : 180px;
    z-index : 1;
}

.navigation ul li a{
    position : relative;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
    width : 100%;
    text-align : center;
    font-weight : 500;
}

.navigation ul li a .icon{
    position : relative;
    display : block;
    font-size : 100px;;
    text-align : center;
    color : var(--clr);
}

.navigation ul li a .text{
    position : absolute;
    color : var(--clr);
    font-weight : 400;
    font-size : 45px;
    bottom : -40px;
}