<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>관리자 페이지 - Q&A - Detail</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
<!--  <link href="/css/admin/styles.css" rel="stylesheet" />-->
  <link rel="stylesheet" href="/css/user/board/detail.css">
  <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
<div class="container">
  <div class="title">제목ㅇㅁ</div>
  <div class="input-box">
    <b>작성일</b>
    <p>2020.2020.2020</p>
  </div>
  <div >
    <img src="" alt="image">
  </div>
  <div class="input-box underline">
    <b>내용</b>
    <p>내용임</p>
  </div>

  <div id="btns">
    <button class="write" onclick="listReq()">목록</button>
    <button class="write" onclick="updateReq()">수정</button>
    <button class="write" onclick="deleteReq()">삭제</button>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script rel="script" type="text/javascript" src="/js/user/save.js"></script>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/admin/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="../../../../../../../startbootstrap-sb-admin-gh-pages/assets/demo/chart-area-demo.js"></script>
<script src="../../../../../../../startbootstrap-sb-admin-gh-pages/assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
<script src="/js/admin/datatables-simple-demo.js"></script>
</html>