<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시물 상세 조회</title>
    <link rel="stylesheet" href="../static/css/boardDetail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<div class="container">
    <div class="title" th:text="${board.boardTitle}">제목</div>
    <div class="subtitle">
        <span>작성자: </span>
        <p th:text="${board.id}"></p>
        <p th:text="${board.boardWriter}"></p>
    </div>
    <div class="subtitle">
        <p th:text="${board.boardCreatedTime}">날짜</p>
    </div>
    <div th:if="${board.fileAttached == 1}">
        <img th:src="@{|/upload/${board.storedFileName}|}" alt="이미지">
    </div>
    <div class="subtitle">
        <p th:text="${board.boardContents}">내용</p>
    </div>
</div>
<div id="btns">
    <button class="write">목록</button>
    <button class="write">수정</button>
    <button class="write">삭제</button>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script rel="script" type="text/javascript" src="/js/save.js"></script>

</body>
</html>