<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GooGoo</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
</head>

<body>
    <div id="wrapper">
        <div class="innerwapper">
            <button><img class=person src="../static/person.png"></button>
            <div class="content">
                <div class="testDiv">
                    <p class="text">누적 금액</p>
                    <p class="money">100,000,000원</p>
                </div>

                <div>
                    <div class="top3">
                        <li><img class="appimg" src="../static/pocketcamp.png">포켓캠프<img class="danger" src="../static/alarm.svg"></li>
                        <progress class="progress" value="50" min="0" max="100"></progress>
                    </div>
                    <div class="top3">
                        <li><img class="appimg" src="../static/pocketcamp.png">포켓캠프</li>
                        <progress class="progress" value="50" min="0" max="100"></progress>
                    </div>
                    <div class="top3">
                        <li><img class="appimg" src="../static/pocketcamp.png">포켓캠프</li>
                        <progress class="progress" value="50" min="0" max="100"></progress>
                    </div>
                </div>
            </div>

            <footer>
                <div class="footerDiv">
                    <button class="footerBtn"><img class=footerimg src="../static/home.svg"></button>
                    <button class="footerBtn"><img class=footerimg src="../static/calendar.svg"></button>
                    <button class="footerBtn"><img class=footerimg src="../static/refer.svg"></button>
                    <button class="footerBtn"><img class=footerimg src="../static/commend.svg"></button>
                    <button class="footerBtn"><img class=footerimg src="../static/more.svg"></button>
                </div>
            </footer>
        </div>

    </div>


</body>
</html>