<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/login.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">
    <form action="#">
      <div class="title">로그인</div>
      <div class="input-box underline">
        <input type="text" placeholder="이메일" required>
        <div class="underline"></div>
      </div>
      <div class="input-box">
        <input type="password" placeholder="비밀번호" required>
        <div class="underline"></div>
      </div>
      <div class="input-box button">
        <input type="submit" name="" value="로그인">
      </div>
    </form>

    <div class="join"><a href="#">회원 가입</a></div>
    <div class="option">
      <a href="#">아이디 찾기</a>
      <a href="#">비밀번호 찾기</a>
    </div>

    <div class="google">
      <a href="#"><i class="fab fa-google"></i>구글 계정으로 회원 가입</a>
    </div>

  </div>
</body>
</html>