<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
    <link rel="stylesheet" type="text/css" href="../static/css/mypage.css">
</head>
<body>
    <div id="wrapper">
        <div class="profile">
            <img class=person src="../static/person.png">
            <p>유은혜</p>
        </div>

        <div class="info">
            <div>
                <p>이메일</p>
                <button><img class=person src="../static/person.png"></button>
                <p>dkfvktorcp@naver.com</p>
            </div>
            <div>
                <p>비밀 번호</p>
                <button><img class=person src="../static/person.png"></button>
            </div>
        </div>
    </div>

</body>
</html>