<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>구매 내역 확인 중</title>
    <link rel="stylesheet" type="text/css" href="/css/payment/buyCheck.css">
</head>
<body>
    <div class="center">
        <img src="/image/loadGif.gif">
        <div class="text">
            <p>구매 내역을 확인중입니다. </p>
            <p>30초 후에 "홈"으로 이동해주세요.</p>
        </div>
    </div>

    <div class="navigation">
        <ul>
            <li class="list">
                <a href="/home">
                            <span class="icon">
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                    <span class="text">홈</span>
                </a>
            </li>
            <li class="list">
                <a href="/calendar">
                            <span class="icon">
                                <ion-icon name="calendar-outline"></ion-icon>
                            </span>
                    <span class="text">조회</span>
                </a>
            </li>
            <li class="list">
                <a href="/recommend">
                            <span class="icon">
                                <ion-icon name="thumbs-up-outline"></ion-icon>
                            </span>
                    <span class="text">추천</span>
                </a>
            </li>
            <li class="list">
                <a href="/board">
                            <span class="icon">
                                <ion-icon name="help-outline"></ion-icon>
                            </span>
                    <span class="text">Q&A</span>
                </a>
            </li>
        </ul>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>