<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>결제 내역 후</title>
    <link rel="stylesheet" type="text/css" href="/css/payment/buyList.css">
</head>
<body>

    <section class="notice">
        <div class="page-title">
            <div class="container">
                <h3>결제 내역</h3>
                <a href="#" class="displayRight">
                    <span class="icon">
                        <ion-icon name="reload-outline"></ion-icon>
                    </span>
                </a>
            </div>
        </div>

        <!-- board list area -->
        <div id="board-list">
            <div class="container">
                <table class="board-table">
                    <thead>
                    <tr>
                        <th scope="col" class="th-num">번호</th>
                        <th scope="col" class="th-title">이름</th>
                        <th scope="col" class="th-date">가격</th>
                        <th scope="col" class="th-date">날짜</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="payment: ${paymentList}">
                        <td th:text="${payment.id}"></td>
                        <td th:text="${payment.name}" id="paymentName"></td>
                        <td th:text="${payment.price + '원'}"></td>
                        <td th:text="${payment.year + '년 ' + payment.month + '월 ' + payment.date + '일'}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <div class="navigation">
        <ul>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                    </span>
                    <span class="text">홈</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="calendar-outline"></ion-icon>
                    </span>
                    <span class="text">구독 일정</span>
                </a>
            </li>
            <li class="mainlist">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="logo-google-playstore"></ion-icon>
                    </span>
                    <span class="maintext">조회</span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="thumbs-up-outline"></ion-icon>
                    </span>
                    <span class="text">추천</span>
                </a>
            </li>
        </ul>
    </div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script rel="script" type="text/javascript" src="/js/buyList.js"></script>
</body>
</html>