<!DOCTYPE html>
<html ng-app="mwl.calendar.docs">
<head>
    <script src="https://unpkg.com/moment@2.17.1"></script>
    <script src="https://unpkg.com/interactjs@1"></script>
    <script src="https://unpkg.com/angular@1.6.6/angular.js"></script>
    <script src="https://unpkg.com/angular-animate@1.6.6/angular-animate.js"></script>
    <script src="https://unpkg.com/angular-ui-bootstrap@2/dist/ui-bootstrap-tpls.js"></script>
    <script src="https://unpkg.com/rrule@2"></script>
    <script src="https://unpkg.com/angular-bootstrap-colorpicker@3"></script>
    <script src="https://unpkg.com/angular-bootstrap-calendar"></script>
    <link href="https://unpkg.com/bootstrap@3/dist/css/bootstrap.css" rel="stylesheet">
    <link href="https://unpkg.com/angular-bootstrap-colorpicker@3/css/colorpicker.min.css" rel="stylesheet">
    <link href="https://unpkg.com/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">
    <script src="/js/calendar.js"></script>
    <script src="/js/modal.js"></script>
    <link rel="stylesheet" href="/css/calendar.css">
</head>
<body>
<!--    <div ng-controller="KitchenSinkCtrl as vm">-->
<!--        <h2 class="text-center">{{vm.calendarTitle}}</h2>-->

<!--        <div class="row">-->
<!--            <div class="col-md-6 text-center">-->
<!--                <div class="btn-group">-->
<!--                    <button-->
<!--                            class="btn btn-primary"-->
<!--                            mwl-date-modifier-->
<!--                            date="vm.viewDate"-->
<!--                            decrement="vm.calendarView"-->
<!--                            ng-click="vm.cellIsOpen = false">-->
<!--                        Previous-->
<!--                    </button>-->
<!--                    <button-->
<!--                            class="btn btn-default"-->
<!--                            mwl-date-modifier-->
<!--                            date="vm.viewDate"-->
<!--                            set-to-today-->
<!--                            ng-click="vm.cellIsOpen = false">-->
<!--                        Today-->
<!--                    </button>-->
<!--                    <button-->
<!--                            class="btn btn-primary"-->
<!--                            mwl-date-modifier-->
<!--                            date="vm.viewDate"-->
<!--                            increment="vm.calendarView"-->
<!--                            ng-click="vm.cellIsOpen = false">-->
<!--                        Next-->
<!--                    </button>-->
<!--                    <a href="#" class="displayRight">-->
<!--                        <span class="icon">-->
<!--                            <ion-icon name="reload-outline"></ion-icon>-->
<!--                        </span>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->

<!--            <br class="visible-xs visible-sm">-->
<!--            <br>-->

<!--            <mwl-calendar-->
<!--                    events="vm.events"-->
<!--                    view="vm.calendarView"-->
<!--                    view-title="vm.calendarTitle"-->
<!--                    view-date="vm.viewDate"-->
<!--                    on-event-click="vm.eventClicked(calendarEvent)"-->
<!--                    on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"-->
<!--                    cell-is-open="vm.cellIsOpen"-->
<!--                    day-view-start="06:00"-->
<!--                    day-view-end="22:59"-->
<!--                    day-view-split="30"-->
<!--                    cell-auto-open-disabled="true">-->
<!--            </mwl-calendar>-->

<!--            <br><br><br>-->
<!--        </div>-->

            <section class="notice">
                <div id="board-list">
                    <div class="container">
                        <table class="board-table">
                            <thead>
                            <tr>
                                <th scope="col" class="th-num">번호</th>
                                <th scope="col" class="th-title">이름</th>
                                <th scope="col" class="th-date">가격</th>
                                <th scope="col" class="th-date">날짜</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="payment: ${paymentList}">
                                <td th:text="${payment.id}" id="paymentId"></td>
                                <td th:text="${payment.name}" id="paymentName"></td>
                                <td th:text="${payment.price + '원'}" id="paymentPrice"></td>
                                <td th:text="${payment.year + '년 ' + payment.month + '월 ' + payment.date + '일'}" id="paymentDate"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>

        <div class="navigation">
            <ul>
                <li class="list">
                    <a href="/home">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="text">홈</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/calendar">
                        <span class="icon">
                            <ion-icon name="calendar-outline"></ion-icon>
                        </span>
                        <span class="text">조회</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/recommend">
                        <span class="icon">
                            <ion-icon name="thumbs-up-outline"></ion-icon>
                        </span>
                        <span class="text">추천</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/board">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                        <span class="text">Q&A</span>
                    </a>
                </li>
            </ul>
        </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
</body>
</html>