<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/payment/googlePassword.css">
</head>
<body>
    <div class="container">
        <h3>고객님의 정보는 소중하니까..😊</h3>
        <form action="/googlePassword" method="post">
            <div class="input-box underline">
                <input type="password" name="googlePassword" placeholder="구글 비밀번호를 입력해주세요">
                <div class="underline"></div>
            </div>
            <button type="submit" name="googlePasswordBtn">Enter</button>
        </form>
    </div>
</body>
</html>