<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GooGoo</title>
    <link rel="stylesheet" type="text/css" href="/css/payment/home.css">

</head>

<body>
    <div class="wrapper">
        <div class="innerwapper">
            <a class="person" href="/user/mypage">
                <span class="icon">
                    <ion-icon name="person-circle-outline"></ion-icon>
                </span>
            </a>
            <a href="/googlePassword">
                <ion-icon name="reload-outline"></ion-icon>
            </a>
            <div class="testDiv">
                <p class="text">누적 금액</p>
                <p class="money" th:utext="${sumPrice + '원'}"></p>
            </div>

            <div class="content">
                <div class="subscribeList">
                    <div class="paddingClass" th:each="payment: ${top3}">
                        <div class="parent">
                            <img class="appimg" th:src="${payment.imgSrc}">
                            <div>
                                <p th:text="${payment.name}" id="paymentName" class="paymentText"></p>
                            </div>
                            <div class="displayRight">
                                <p th:text="${'₩' + payment.price}" class="paymentTextBig"></p>
                            </div>
                        </div>
                        <progress class="progress" th:value="${payment.price * 1.0/sumPrice*100.0}" min="0" max="100"></progress>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigation">
            <ul>
                <li class="list">
                    <a href="/home">
                            <span class="icon">
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                        <span class="text">홈</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/calendar">
                            <span class="icon">
                                <ion-icon name="calendar-outline"></ion-icon>
                            </span>
                        <span class="text">조회</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/recommend">
                            <span class="icon">
                                <ion-icon name="thumbs-up-outline"></ion-icon>
                            </span>
                        <span class="text">추천</span>
                    </a>
                </li>
                <li class="list">
                    <a href="/board">
                            <span class="icon">
                                <ion-icon name="help-outline"></ion-icon>
                            </span>
                        <span class="text">Q&A</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>