<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/user/board/detail.css">
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script rel="script" type="text/javascript" src="/js/user/save.js"></script>
  <title>관리자 페이지 - Q&A - Detail</title>
</head>

<body>
<div class="container">
  <div class="title" th:text="${board.boardTitle}"></div>
  <div class="input-box">
    <b>작성일</b>
    <p th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></p>
  </div>
  <div th:if="${board.fileAttached == 1}">
    <img th:src="@{|/upload/${board.storedFileName}|}" alt="image">
  </div>
  <div class="input-box underline" style="z-index: -1;">
    <b>내용</b>
    <p th:text="${board.boardContent}"></p>
  </div>

  <div id="comment-write">
    <input type="text" id="commentContents" placeholder="내용">
    <button id="comment-write-btn" type="button" onclick="commentWrite()">댓글작성</button>
  </div>

  <div id="comment-list">
    <table>
      <tr>
        <th>댓글번호</th>
        <th>작성자</th>
        <th>내용</th>
        <th>작성시간</th>
      </tr>
      <tr th:each="comment: ${commentList}">
        <td th:text="${comment.id}"></td>
        <td th:text="${comment.commentWriter}"></td>
        <td th:text="${comment.commentContents}"></td>
        <td th:text="*{#temporals.format(comment.commentCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
      </tr>
    </table>
  </div>
</div>

<script th:inline="javascript">
  const commentWrite = () => {
    const writer = [[${loginAdmin.id}]];
    const contents = document.getElementById("commentContents").value;
    const id = [[${board.id}]];
    $.ajax({
      type : "post",
      url : "/admin/board/detail/comment",
      data : {
        "commentWriter" : writer,
        "commentContents" : contents,
        "boardId" : id
      },
      success : function (res){
        let output = "<table>";
        output += "<tr><th>댓글번호</th>";
        output += "<th>작성자</th>";
        output += "<th>내용</th>";
        output += "<th>작성시간</th></tr>";
        for (let i in res) {
          output += "<tr>";
          output += "<td>" + res[i].id + "</td>";
          output += "<td>" + res[i].commentWriter + "</td>";
          output += "<td>" + res[i].commentContents + "</td>";
          output += "<td>" + res[i].commentCreatedTime + "</td>";
          output += "</tr>";
        }
        output += "</table>";
        document.getElementById('comment-list').innerHTML = output;
        document.getElementById('commentWriter').value = '';
        document.getElementById('commentContents').value = '';
      },
      error : function (err){
        console.log("요청 실패", err);
      }
    });
  }
</script>
</body>
</html>