*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

:root{
    --clr : #e8e8e8;
}

body{
    display : flex;
    min-height : 100vh;
    background : var(--clr);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

section.notice {
    padding: 150px 0;
}

.page-title h3 {
    font-size: 80px;
    color: #333333;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

.container a{
    width : 100%;
    text-align : center;
    font-weight : 500;
}

.container a .icon{
    float: right;
    margin-right: 60px;
    margin-bottom: 50px;
    line-height : 75px;
    font-size : 60px;;
    text-align : center;
    color : #2b2b2b;
}

.board-table {
    font-size: 50px;
    width: 100%;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.board-table a {
    color: #333;
    display: inline-block;
    line-height: 1.4;
    word-break: break-all;
    vertical-align: middle;
}

.board-table th {
    text-align: center;
}

.board-table .th-num {
    width: 100px;
    text-align: center;
}

.board-table .th-title {
    width: 200px;
}

.board-table .th-answer {
    width: 200px;
}

.board-table .th-date {
    width: 150px;
}

.board-table th, .board-table td {
    padding: 40px 0;
}

.board-table tbody td {
    border-top: 1px solid #e7e7e7;
    text-align: center;
}

/* reset */

* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.pagination{
    text-align: center;
    width: 100%;
    list-style: none;
    display: inline-block;
    margin-top: 100px;
}

.pageText{
    color: #2b2b2b;
    text-decoration: none;
    font-size: 50px;
    margin: 0px 10px;
}

.selectPage{
    font-size: 50px;
    color: #2b2b2b;
    border-radius: 50%;
    margin: 0px 10px;
}

.navigation{
    position : fixed;
    bottom : 0;
    left : 0;
    right : 0;
    background : #2b2b2b;
    display : flex;
    justify-content : center;
    align-align_items : center;
    border-radius : 30px;
}

.navigation ul{
    display : flex;
    width : 100%;
}

.navigation ul li{
    position : relative;
    list-style : none;
    width : 30%;
    height : 180px;
    z-index : 1;
}

.navigation ul li a{
    position : relative;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
    width : 100%;
    text-align : center;
    font-weight : 500;
}

.navigation ul li a .icon{
    position : relative;
    display : block;
    font-size : 100px;;
    text-align : center;
    color : var(--clr);
}

.navigation ul li a .text{
    position : absolute;
    color : var(--clr);
    font-weight : 400;
    font-size : 45px;
    bottom : -40px;
}