*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

:root{
    --clr : #e8e8e8;
}

body{
    display : flex;
    min-height : 100vh;
    background : var(--clr);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

section.notice {
    padding: 100px 0;
}

.page-title {
    margin-bottom: 60px;
}

.page-title h3 {
    font-size: 50px;
    color: #333333;
    font-weight: 600;
    text-align: center;
}

.board-table {
    font-size: 20px;
    width: 100%;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.board-table a {
    color: #333;
    display: inline-block;
    line-height: 1.4;
    word-break: break-all;
    vertical-align: middle;
}

.board-table a:hover {
    text-decoration: underline;
}

.board-table th {
    text-align: center;
}

.board-table .th-num {
    width: 100px;
    text-align: center;
}

.board-table .th-title {
    width: 200px;
}

.board-table .th-writer {
    width: 200px;
}

.board-table .th-date {
    width: 200px;
}

.board-table th, .board-table td {
    padding: 20px 0;
}

.board-table tbody td {
    border-top: 1px solid #e7e7e7;
    text-align: center;
}

.board-table tbody th {
    padding-left: 28px;
    padding-right: 14px;
    border-top: 1px solid #e7e7e7;
    text-align: left;
}

.board-table tbody th p{
    display: none;
}

#plus{
    float: right;
    width: 108px;
    height: 50px;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 30px;
}

#plus a{
    color: #fff;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 0 30px;
    font-size: 15px;
    font-weight: 400;
    background: transparent;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-dark {
    background: #555;
    color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
    background: #373737;
    border-color: #373737;
    color: #fff;
}

.btn-dark {
    background: #555;
    color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
    background: #373737;
    border-color: #373737;
    color: #fff;
}

/* reset */

* {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.container {
    width: 1100px;
    margin: 0 auto;
}
.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.navigation{
    position : fixed;
    bottom : 0;
    left : 0;
    right : 0;
    background : #2b2b2b;
    display : flex;
    justify-content : center;
    align-align_items : center;
    border-radius : 10px;
}

.navigation ul{
    display : flex;
    width : 100%;
}

.navigation ul li{
    position : relative;
    list-style : none;
    width : 230%;
    height : 100px;
    z-index : 1;
}

.navigation ul li a{
    position : relative;
    display : flex;
    justify-content : center;
    align-items : center;
    flex-direction : column;
    width : 100%;
    text-align : center;
    font-weight : 500;
}

.navigation ul li a .icon{
    position : relative;
    display : block;
    line-height : 75px;
    font-size : 60px;;
    text-align : center;
    color : var(--clr);
}

.navigation ul li a .text{
    position : absolute;
    color : var(--clr);
    font-weight : 400;
    font-size : 25px;
    bottom : -20px;
}