<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q&A</title>
    <link rel="stylesheet" type="text/css" href="/css/user/board/board.css">
</head>
<body>

    <section class="notice">
        <div class="page-title">
            <div class="container">
                <h3>Q&A</h3>
                <a href="/board/save">
                    <span class="icon">
                        <ion-icon name="pencil-outline"></ion-icon>
                    </span>
                </a>
            </div>
        </div>
        <!-- board list area -->
        <div id="board-list">
            <div class="container">
                <table class="board-table">
                    <thead>
                    <tr>
                        <th scope="col" class="th-num">번호</th>
                        <th scope="col" class="th-title">제목</th>
                        <th scope="col" class="th-date">등록일</th>
                        <th scope="col" class="th-answer">답변 여부</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="board: ${boardList}">
                        <td th:text="${board.id}"></td>
                        <td><a th:href="@{|/board/${board.id}}" th:text="${board.boardTitle}"></a></td>
                        <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                        <th:block th:if="${board.noti} == 1">
                            <td style="color: green">공지</td>
                        </th:block>
                        <th:block th:if="${board.commentAttached} == 1 and ${board.noti} == 0">
                            <td style="color: red">답변 완료</td>
                        </th:block>
                        <th:block th:if="${board.commentAttached} == 0 and ${board.noti} == 0">
                            <td style="color: black">답변 대기</td>
                        </th:block>
                    </tr>
                    </tbody>
                </table>

                <div class="pagination">
                    <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                        <a class="pageText" th:if="${page != nowPage}" th:href="@{/board(page = ${page -1})}" th:text="${page}"></a>
                        <strong class="selectPage" th:if="${page == nowPage}" th:text="${page}"></strong>
                    </th:block>
                </div>
            </div>
        </div>
    </section>

    <div class="navigation">
        <ul>
            <li class="list">
                <a href="/home">
                            <span class="icon">
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                    <span class="text">홈</span>
                </a>
            </li>
            <li class="list">
                <a href="/calendar">
                            <span class="icon">
                                <ion-icon name="calendar-outline"></ion-icon>
                            </span>
                    <span class="text">조회</span>
                </a>
            </li>
            <li class="list">
                <a href="/recommend">
                            <span class="icon">
                                <ion-icon name="thumbs-up-outline"></ion-icon>
                            </span>
                    <span class="text">추천</span>
                </a>
            </li>
            <li class="list">
                <a href="/board">
                            <span class="icon">
                                <ion-icon name="help-outline"></ion-icon>
                            </span>
                    <span class="text">Q&A</span>
                </a>
            </li>
        </ul>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>