<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user/board/detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script rel="script" type="text/javascript" src="/js/save.js"></script>
    <title>게시물 상세 조회</title>
</head>

<body>
    <div class="container">
        <div class="title" th:text="${board.boardTitle}"></div>
        <div class="input-box">
            <b>작성일</b>
            <p th:text="${board.boardCreatedTime}"></p>
        </div>
        <div th:if="${board.fileAttached == 1}">
            <img th:src="@{|/upload/${board.storedFileName}|}" alt="image">
        </div>
        <div class="input-box underline">
            <b>내용</b>
            <p th:text="${board.boardContent}"></p>
        </div>

        <th:block th:if="${board.noti == 0}">
            <div id="comment-list">
                <table>
                    <tr>
                        <th>댓글번호</th>
                        <th>작성자</th>
                        <th>내용</th>
                        <th>작성시간</th>
                    </tr>
                    <tr th:each="comment: ${commentList}">
                        <td th:text="${comment.id}"></td>
                        <td th:text="${comment.commentWriter}"></td>
                        <td th:text="${comment.commentContents}"></td>
                        <td th:text="${comment.commentCreatedTime}"></td>
                    </tr>
                </table>
            </div>
        </th:block>

        <div id="btns">
            <button class="write" onclick="listReq()">목록</button>
            <th:block th:if="${board.commentAttached} == 0 and ${board.noti} == 0">
                <button class="write" onclick="updateReq()">수정</button>
                <button class="write" onclick="deleteReq()">삭제</button>
            </th:block>
        </div>
    </div>

</body>
<script th:inline="javascript">
    const listReq = () => {
        location.href = "/board";
    }

    const updateReq = () => {
        const id = [[${board.id}]];
        location.href = "/board/edit/" + id;
    }

    const deleteReq = () => {
        const id = [[${board.id}]];
        location.href = "/api/board/delete/" + id;
    }
</script>
</html>